.App {
  text-align: center;
  font-family: Helvetica;
}

.App-header {
  background-color: black;
  height: 60px;
  padding: 20px;
  color: yellow;
  font-style: italic;
}


.ant-card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-gap: 10px;
  padding: 10px;
  border-bottom: 1px solid black;
}

.ant-card-header {
  background-color: black;
  color: yellow;
  font-size: 17px;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 16%);
  grid-gap: 10px;
}

.button-div {
  background-color: black;
  color: white;
  margin: 0
}
